<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-buttons li {
    display: inline-block;
    margin-right: 5px;
}

.pagination-buttons li a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
}

.pagination-buttons li.active a {
    background-color: #ccc;
}

</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>

<body>
	<div th:include="/admin/layout/nav.html"></div>
	<div class="col-4 ml-auto">
    <form th:action="@{/order}" method="get">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by name" name="username" th:value="${username}">
            <input type="submit" value="Search">
        </div>
    </form>
</div>
	<main class="container-fluid">
		<div class="col mt-4">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="userEditing-tab"
						data-toggle="tab" data-target="#userEditing" type="button"
						role="tab" aria-controls="userEditing" aria-selected="true">Order
						List</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="userList-tab" data-toggle="tab"
						data-target="#userList" type="button" role="tab"
						aria-controls="userList" aria-selected="false">OrderItem
						List</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="userEditing"
					role="tabpanel" aria-labelledby="userEditing-tab">
					<table class="table table-stripe">
						<tr>
							<td>Order ID</td>
							<td>Username</td>
							<td>Order Date</td>
							<td>Total</td>
						</tr>
						<tr th:each="item : ${Orders}">
							<td th:text="${item.orderId}"></td>
							<td th:text="${item.user.username}"></td>
							<td th:text="${#dates.format(item.orderDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
							<td th:text="${item.totalAmount}"></td>
							</td>

							<!-- Các cột khác -->
						</tr>
					</table>
								<div class="pagination">
								    <ul class="pagination-buttons">
								        <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
								            th:class="${pageNum == currentPage ? 'active' : ''}">
								            <a th:href="@{/order(page=${pageNum}, size=${size}, keywords=${keywords})}"
								                th:text="${pageNum + 1}"></a>
								        </li>
								    </ul>
								</div>
				</div>


				<div class="tab-pane fade" id="userList" role="tabpanel"
					aria-labelledby="userList-tab">
					<table class="table table-stripe">
						<tr>
							<td>ID</td>
							<td>ID Đơn hàng</td>
							<td>Tên sản phẩm</td>
							<td>Số lượng</td>
							<td>Giá</td>
							<td>&nbsp;</td>
						</tr>
						<tr th:each="item : ${OrderItems}">
							<td th:text="${item.orderItemId}"></td>
							<td th:text="${item.order.orderId}"></td>
							<td th:text="${item.product.productName}"></td>
							<td th:text="${item.quantity}"></td>
							<td th:text="${item.price}"></td>


							<!-- Các cột khác -->
						</tr>
					</table>
					<div class="pagination">
								    <ul class="pagination-buttons">
								        <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
								            th:class="${pageNum == currentPage ? 'active' : ''}">
								            <a th:href="@{/order(page=${pageNum}, size=${size}, keywords=${keywords})}"
								                th:text="${pageNum + 1}"></a>
								        </li>
								    </ul>
								</div>
				</div>
			</div>
		</div>
		<footer class="row"></footer>
	</main>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script>
		$('#myTab button').on('click', function(event) {
			event.preventDefault()
			$(this).tab('show')
		})
	</script>