<!-- Topbar Start -->
<div class="container-fluid">
	<div class="row bg-secondary py-2 px-xl-5">
		<div class="col-lg-6 d-none d-lg-block">
			<div class="d-inline-flex align-items-center">
				<a class="text-dark" href="" th:text="#{home.FAQs}"></a> <span
					class="text-muted px-2">|</span> <a class="text-dark" href=""
					th:text="#{home.Help}"></a> <span class="text-muted px-2">|</span>
				
				<a class="text-dark" href="" th:text="#{home.support}"></a>
				<span class="text-muted px-2">|</span>
				<a class="text-dark" href="index?lang=vi">VI</a> <span
					class="text-muted px-2">|</span> <a class="text-dark"
					href="index?lang=en">EN</a> 
			</div>
		</div>

		<div class="col-lg-6 text-center text-lg-right">
			<div class="d-inline-flex align-items-center">
				<a class="text-dark px-2" href=""> <i class="fab fa-facebook-f"></i>
				</a> <a class="text-dark px-2" href=""> <i class="fab fa-twitter"></i>
				</a> <a class="text-dark px-2" href=""> <i
					class="fab fa-linkedin-in"></i>
				</a> <a class="text-dark px-2" href=""> <i class="fab fa-instagram"></i>
				</a> <a class="text-dark pl-2" href=""> <i class="fab fa-youtube"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row align-items-center py-3 px-xl-5">
		<div class="col-lg-3 d-none d-lg-block">
			<a href="" class="text-decoration-none">
				<h1 class="m-0 display-5 font-weight-semi-bold">
					<span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper
				</h1>
			</a>
		</div>
		<div class="col-lg-6 col-6 text-left">
			<form action="/shop">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Search by name" name="keywords"
						th:value="${keywords}" >
					<button type="submit"th:text="#{input.Search}"></button>
				</div>
			</form>
		</div>
		<div class="col-lg-3 col-6 text-right">
			<a th:href="@{/cart}" class="btn border"
				th:if="${session.userSession != null}"> <i
				class="fas fa-shopping-cart text-primary"></i> <span class="badge">Cart</span>
			</a> <a href="/login" class="btn border"
				th:unless="${session.userSession != null}"> <i
				class="fas fa-shopping-cart text-primary"></i> <span class="badge">0</span>
			</a>
		</div>

	</div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid mb-5">
	<div class="row border-top px-xl-5">
		<div class="col-lg-3 d-none d-lg-block">
			<a
				class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
				data-toggle="collapse" href="#navbar-vertical"
				style="height: 65px; margin-top: -1px; padding: 0 30px;">
				<h6 class="m-0" th:text="#{Categories.Categories}"></h6> <i
				class="fa fa-angle-down text-dark"></i>
			</a>
			<nav
				class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
				Categories.Somiid="navbar-vertical">
				<div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
					<a th:href="@{/shop(value=1)}" class="nav-item nav-link" th:text="#{Categories.Trousers}"></a>
					<a th:href="@{/shop(value=2)}" class="nav-item nav-link" th:text="#{Categories.Bomber}"></a>
					<a th:href="@{/shop(value=3)}" class="nav-item nav-link" th:text="#{Categories.Gym}"></a>
					<a th:href="@{/shop(value=4)}" class="nav-item nav-link" th:text="#{Categories.Somi}"></a> <a
						th:href="@{/shop(value=5)}" class="nav-item nav-link"th:text="#{Categories.T-Shirt}"></a>
				</div>
			</nav>
		</div>
		<div class="col-lg-9">
			<nav
				class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
				<a href="" class="text-decoration-none d-block d-lg-none">
					<h1 class="m-0 display-5 font-weight-semi-bold">
						<span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper
					</h1>
				</a>
				<button type="button" class="navbar-toggler" data-toggle="collapse"
					data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-between"
					id="navbarCollapse">
					<div class="navbar-nav mr-auto py-0">
						<a th:href="@{/index}" class="nav-item nav-link active" th:text="#{list.Home}"></a> <a
							th:href="@{/shop}" class="nav-item nav-link" th:text="#{list.Shop}"></a> <a
							th:href="@{/OrderItem}" class="nav-item nav-link" th:text="#{list.Order}"></a>
						<div class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle"
								data-toggle="dropdown" th:text="#{list.Pages}"></a>
							<div class="dropdown-menu rounded-0 m-0">
								<a th:href="@{/cart}" class="dropdown-item" th:text="#{list.ShoppingCart}"></a> <a
									th:href="@{/capnhatUser}" class="dropdown-item" th:text="#{list.Checkout}"></a>
							</div>
						</div>
						<a th:href="@{/contact}" class="nav-item nav-link" th:text="#{list.Contact}"></a>
					</div>
					<div class="navbar-nav ml-auto py-0">
						<a th:href="@{/login}" class="nav-item nav-link" th:text="#{list.Login}"></a> <a
							th:href="@{/register}" class="nav-item nav-link" th:text="#{list.Register}"></a> <a
							th:href="@{/logout}" class="nav-item nav-link"th:text="#{list.LogOut}"></a>
					</div>
				</div>
			</nav>
			<div id="header-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active" style="height: 410px;">
						<img class="img-fluid" src="/img/carousel-1.jpg" alt="Image">
						<div
							class="carousel-caption d-flex flex-column align-items-center justify-content-center">
							<div class="p-3" style="max-width: 700px;">
								<h4 class="text-light text-uppercase font-weight-medium mb-3"th:text="#{list.slide}"></h4>
								<h3 class="display-4 text-white font-weight-semi-bold mb-4"th:text="#{list.slide2}"></h3>
								<a href="" class="btn btn-light py-2 px-3"th:text="#{list.slide4}"></a>
							</div>
						</div>
					</div>
					<div class="carousel-item" style="height: 410px;">
						<img class="img-fluid" src="/img/carousel-2.jpg" alt="Image">
						<div
							class="carousel-caption d-flex flex-column align-items-center justify-content-center">
							<div class="p-3" style="max-width: 700px;">
								<h4 class="text-light text-uppercase font-weight-medium mb-3"th:text="#{list.slide}"></h4>
								<h3 class="display-4 text-white font-weight-semi-bold mb-4"th:text="#{list.slide3}"></h3>
								<a href="" class="btn btn-light py-2 px-3"th:text="#{list.slide4}"></a>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#header-carousel"
					data-slide="prev">
					<div class="btn btn-dark" style="width: 45px; height: 45px;">
						<span class="carousel-control-prev-icon mb-n2"></span>
					</div>
				</a> <a class="carousel-control-next" href="#header-carousel"
					data-slide="next">
					<div class="btn btn-dark" style="width: 45px; height: 45px;">
						<span class="carousel-control-next-icon mb-n2"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Navbar End -->